<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de usuarios</title>
</head>
<body>

<h1>Usuarios registrados</h1>

<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Usuario</th>
        <th>Password</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="u : ${usuarios}">
        <td th:text="${u.id_login}"></td>
        <td th:text="${u.username}"></td>
        <td th:text="${u.password}"></td>
    </tr>
    </tbody>
</table>

</body>
</html>